.page-1 .brand {
  margin: 8px 16px 8px 0;
  display: inline-block;
  width: 85px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -0.4px;
  line-height: 1.333;
  text-transform: uppercase;
  color: #000000;
}
.page-1 .vector {
  width: 18px;
  height: 12px;
}
.page-1 .frame-38 {
  border-radius: 32px;
  background: #524A44;
  display: flex;
  padding: 18px 15px;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
.page-1 .header {
  background: #E3DAD8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 8px;
  width: 100%;
  box-sizing: border-box;
}
.page-1 .cover {
  background: url('../assets/images/cover_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.page-1 .shop-now {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 1.5;
  color: #FFFFFF;
}
.page-1 .frame-73 {
  border: 2px solid #F5F5F5;
  background: #524A44;
  position: relative;
  display: flex;
  padding: 16px 1px 16px 0;
  width: 180px;
  height: fit-content;
  box-sizing: border-box;
}
.page-1 .section-1 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 40px;
  display: flex;
  padding: 130px 0;
  width: 100%;
  box-sizing: border-box;
}
.page-1 .ellipse-3 {
  border-radius: 20px;
  background: #000000;
  margin-right: 16px;
  width: 40px;
  height: 40px;
}
.page-1 .feature-one {
  margin: 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.556;
  color: #000000;
}
.page-1 .title {
  margin: 0 2px 16px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .all-base-ui-elements {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .frame-67 {
  background: #E3DAD8;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 11.7px;
  width: 100%;
  box-sizing: border-box;
}
.page-1 .ellipse-31 {
  border-radius: 20px;
  background: #000000;
  margin-right: 16px;
  width: 40px;
  height: 40px;
}
.page-1 .feature-one-1 {
  margin: 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.556;
  color: #000000;
}
.page-1 .title-1 {
  margin: 0 2px 16px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .all-base-ui-elements-1 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .frame-68 {
  background: #E3DAD8;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 11.7px;
  width: 100%;
  box-sizing: border-box;
}
.page-1 .ellipse-32 {
  border-radius: 20px;
  background: #000000;
  margin-right: 16px;
  width: 40px;
  height: 40px;
}
.page-1 .feature-one-2 {
  margin: 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.556;
  color: #000000;
}
.page-1 .title-2 {
  margin: 0 2px 16px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .all-base-ui-elements-2 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .frame-69 {
  background: #E3DAD8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 11.7px;
  width: 100%;
  box-sizing: border-box;
}
.page-1 .frame-71 {
  margin: 0 8px 40px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 16px);
  box-sizing: border-box;
}
.page-1 .medium-length-displa {
  margin: 0 0 32.5px 0.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 900;
  font-size: 24.7px;
  letter-spacing: -0.4px;
  line-height: 1.071;
  text-transform: uppercase;
  color: #FFFFFF;
}
.page-1 .first-column {
  margin: 0 16.5px 16px 17.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 1.5;
  color: #FFFFFF;
}
.page-1 .first-page {
  margin: 0 10.5px 8px 10.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429;
  color: #FFFFFF;
}
.page-1 .second-page {
  margin-bottom: 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429;
  color: #FFFFFF;
}
.page-1 .third {
  margin: 0 7.9px 8px 7.9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429;
  color: #FFFFFF;
}
.page-1 .fourth {
  margin: 0 3.4px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429;
  color: #FFFFFF;
}
.page-1 .frame-63 {
  margin: 0 9.6px 32px 9.6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .second {
  margin: 0 12.2px 16px 11.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 1.5;
  color: #FFFFFF;
}
.page-1 .first-page-1 {
  margin: 0 6px 8px 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429;
  color: #FFFFFF;
}
.page-1 .second-page-1 {
  margin: 0 3.8px 8px 4.8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429;
  color: #FFFFFF;
}
.page-1 .third-1 {
  margin-bottom: 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429;
  color: #FFFFFF;
}
.page-1 .third-2 {
  margin: 0 2.7px 0 3.7px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429;
  color: #FFFFFF;
}
.page-1 .frame-60 {
  margin: 0 13.1px 32px 14.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .third-3 {
  margin: 0 0 16px 0.8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 1.5;
  color: #FFFFFF;
}
.page-1 .first-page-2 {
  margin: 0 15.8px 8px 15.8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429;
  color: #FFFFFF;
}
.page-1 .second-page-2 {
  margin: 0 6.2px 8px 6.2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429;
  color: #FFFFFF;
}
.page-1 .third-4 {
  margin: 0 10px 8px 10px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429;
  color: #FFFFFF;
}
.page-1 .third-5 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429;
  color: #FFFFFF;
}
.page-1 .frame-61 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .frame-65 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .frame-55 {
  background: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32.5px 0 32px 0;
  width: 100%;
  box-sizing: border-box;
}
.container {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
